.about {
  background-color: #02aab0;
  color: white;
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

.section-title {
  font-size: 40px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 15px;
  padding: 0 10% 5% 0%;
}

@media only screen and (max-width: 760px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.bio-image {
  height: 350px;
  float: right;
  align-self: right;
}
