.intro {
  height: 100vh;
  background: url("../images/mountains.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: left;
  z-index: -1;
  margin-bottom: 0px;
}

.name-title-btn {
  margin-left: 8%;
}

.name {
  font-size: 60px;
  color: white;
  margin-bottom: 0;
}

.title {
  margin-top: 0;
  color: #02aab0;
}

.more-btn {
  /* display: inline-block; */
  position: relative;
  background-image: linear-gradient(135deg, #02aab0 0%, #02aab0 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid #02aab0 2px;
  padding: 5px 3px 5px 3px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  transition: all cubic-bezier(0.5, 1, 0.5, 1) 1s;
}
.more-btn:hover {
  -webkit-text-fill-color: white;
  text-decoration: none;
  background: #02aab0;
}

/* @media only screen and (max-width: 760px) {
  .intro {
    height: 100vh;
    text-align: center;
    margin: 0px;
  }
} */
