@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  height: 100vh;
  background: url("../images/mountains.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.intro {
  width: 100vw;
  text-align: left;
  margin-left: 10%;
}

.name {
  font-size: 3rem;
  color: white;
  margin-bottom: 0;
}

.title {
  margin-top: 0;
  color: #02aab0;
}
