.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px 20px;
}

.description {
  white-space: pre-wrap;
  text-align: left;
  width: 60%;
  max-width: 700px;
  margin-right: 30px;
}

.image {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 760px) {
  .projectCard {
    flex-direction: column;
  }

  .description {
    width: 100%;
    margin-right: 0px;
  }
  .image {
    size: 300px;
    margin-left: 0px;
  }
}
