.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project-info {
  align-self: center;
  justify-self: center;
}

.project-img {
  align-self: center;
}

.row {
  padding: 30px;
}

@media only screen and (max-width: 760px) {
  .projects-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }

  .projects-img {
    width: 300px;
  }

  .projects-img {
    width: 300px;
  }
}
